$PrimaryText: #f9f6f7;
$PrimaryBg: #263f44;
$SecondaryBg: #fff1cf;
$NavBg: #ffd369;
$CardBg: #015668;
$cardText: #fff;
$secondaryText: hsl(195, 100%, 6%);

$white: rgb(255, 255, 255);
$orange: rgb(253, 126, 55);
$black: rgb(51, 17, 0);
$lightBrown: rgb(102, 48, 20);
$grey: rgb(112, 112, 112);
$transparentDark-1: rgba(0, 0, 0, 0.16);
$transparentDark-2: rgba(0, 0, 0, 0.5);



