@use './variables' as var;
@use './mixins' as m;
@use './palette' as c;
@use './fonts' as f;
@use './functions' as fn;

.container {
  max-width: var.$containerMaxWidth;
  @include m.padLR(var.$containerLeftRightPadding);
  margin: 0 auto;
  width: 100%;
}

.smallContainer {
  max-width: var.$smallContainerMaxWidth;
  @include m.padLR(var.$containerLeftRightPadding);
  margin: 0 auto;
  width: 100%;
}

.imgCoverWidth {
  width: 100%;
  object-fit: cover;
}

.imgCoverHeight {
  height: 100%;
  object-fit: cover;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.w100 {
  width: 100%;
}
